*{
    box-sizing: border-box;
}
body{
    margin:0 auto;
    color:#3f464d;
}
a{
    all:unset;
}
a:link{
    text-decoration: none;
    color:#3f464d;
}
a:visited{
    text-decoration: none;
    color:#3f464d;
}
a:active{
    text-decoration: none;
    color:#3f464d;
}
a:hover{
    text-decoration: none;
    color:#3f464d;
}



.inner{
    /* border:black solid 1px; */
    width:100%;
    height:100%;
    margin:0 auto;
    /* padding:0 10px; */
    overflow: hidden;
}

header{
    width:100%;
    height:60px;
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}
.head-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.head-container .head-brand{
    font-weight: bold;
    font-size: 1.2rem;
    margin-left:30px;
}
.head-container .head-brand a:hover{
    color:#2186c4;
    cursor:pointer;
}
.head-container .head-blog{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right:30px;
}
.head-container .head-blog a:hover{
    color:#2186c4;
    cursor:pointer;
}
section{
    width:100%;
    background-color: white;
    position: relative;
    /* border: solid black 1px; */
}
.main{
    height:360px;
    background-image: url("../img/su.jpg");
    background-size: cover;
    background-position:center 20%;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-container{
    width:100%;
    height:100%; 
    /* height 100%는 상속된 값인 360px  */
    background-color:rgb(47,48,89);
    opacity: 0.8;
    z-index: 2;
    margin-top: 60px;
}
.title-container{
    margin:0 30px;
    padding-top:60px;
    padding-bottom: 100px;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color:white;
    margin-bottom: 0.8rem;
}
.message{
    color:white;
    font-size: 1.4rem;
}
.skill-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:1rem 0;
}
.skill{
    width:25%;
    background-color: white;
    display:flex;
    align-items: center;
    border-radius: 9px;
    padding:0.5rem 1rem;
    margin:0 1rem;
    box-shadow:10px 10px 10px -5px rgba(25,42,70,0.2);
    transition: 0.4s;
}
.skill:hover{
    transform: translate(0,-5px);
}
.skill-icon{
    font-size:2.5rem;
    margin:0 7px;
}
.skill-title{
    margin:0 1rem;
    display:flex;
    flex-direction: column;
    align-content:center;
}
.skill-name{
    font-weight: bold;
    color:#545e6f;
    margin-bottom: 0.2rem;
}
.skill-usage{
    font-size:12px;
    color:#545e6f;
}
.python-style{
    color:#2186c4;
}
.html-style{
    color:#db4328;
}
.css-style{
    color:#283ceb;
}
.javascript-style{
    color:rgb(228, 224, 2);
}
.roadmap-container{
    width:100%;
    margin-top:2rem;
}
.roadmap-title-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.roadmap-title{
    font-size: 1.3rem;
    font-weight: bold;
    color:#545e6f;
    margin-left:30px;
}
.slide-prev{
    font-size: 2rem;
    cursor:pointer;
    color:rgb(47,48,89);
}
.slide-next{
    font-size:2rem;
    cursor:pointer;
    color:#cfd8dc;
}
.slide-prev-hover:hover{
    transition: transform 0.5s;
    transform:translateX(-2px);
}
.slide-next-hover:hover{
    transition: transform 0.5s;
    transform:translateX(2px);
}
.arrow-container{
    display:flex;
    margin-right:30px;
}
.class-list{
    display: flex;
    list-style:none;
    padding:10px 0;
    margin:1rem 0 0.2rem 1.2rem;
    overflow: none;
}
.class-card{
    max-width:240px;
    box-shadow: 10px 10px 10px -5px rgba(25,42,70,0.2);
    border-radius:8px;
    margin:0 10px;
    transition: 0.4s;
    flex-shrink: 0;
}
.class-card:hover{
    box-shadow: 10px 10px 10px 0px rgba(25,42,70,0.2);
    transform: translate(0,-5px);

}
.class-image{
    /* 부모클래스 class-card의 width 240px 상속받아 width:100%=240px */
    width:100%;
    border-radius:8px 8px 0 0;
}
.class-container{
    width:100%;
    padding:0.5rem 0 1rem 0;
}
.class-skill{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.class-type{
    color:#949393;
    font-size: 0.9rem;
    margin-left:10px;
}
.class-format{
    color:white;
    font-size:0.9rem;
    background-color:#0d47a1 ;
    padding:0.2rem;
    margin-right:10px;
    
}
.class-desc{
    width:100%;
    margin-top:0.2rem;
}
.class-desc:hover{
    color:#2186c4;
}
.class-title{
    font-weight: bold;
    color:inherit;
    width:100%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.class-detail{
    font-size: 0.9rem;
    color:inherit;
    line-height: 1.5rem;
}
footer{
    border-top:1px solid #e4e4e4;
    background-color:#f8f9fa ;
    padding:1rem 0;
    margin:1rem 0;
    
}
.footer-message{
    font-weight: bold;
    font-size:0.9rem;
    color:#545e6f;
    margin-bottom:0.2rem;
    margin-left:30px;
}
.footer-contact{
    font-size:0.9rem;
    color:#545e6f;
    margin-bottom:1rem;
    margin-left:30px;
}
.footer-copyright{
    font-size:0.9rem;
    color:#545e6f;
    margin-left:30px;
}




#backtotop{
    background-color: rgb(47,48,49);
    width:40px;
    height:40px;
    text-align: center;

    border-radius:20px; 
    /* border-radius를 height의 절반값으로 설정하면 원이 된다 */
    position: fixed;
    bottom:30px;
    right:30px;
    transition-property: background-color,opacity,visibility;
    transition-duration: 0.3s,0.5s,0.5s;
    opacity: 0;
    visibility: hidden;
    z-index:999;
}
#backtotop::after{
    content:'\f077';
    font-family: FontAwesome;
    font-size:1.5rem;
    line-height:40px;
    color:#fff;
}
/* backtotop에 show라는 클래스가 있을 때 적용 */
#backtotop.show{
    opacity: 1;
    visibility: visible;
    background-color: rgb(47,48,49);
}
#backtotop.show:hover{
    cursor:pointer;
    background-color:#2186c4 ;
}
/* width가 1200px보다 크면 적용 */
@media only screen and (min-width:1200px){
    .inner{
        max-width:1200px;
    }
}
/* 950px 이하 */
@media only screen and (max-width:950px){
    .skill-container{
        display:none;
    }
    .class-list{
        margin-right:30px;
    }
}

ul >li> img:active{
    cursor:grabbing;
}
