*{
    box-sizing: border-box;
}
#container{
    width:100%;
    border:1px solid black;
    display:flex;
    justify-content:center
}

.box{
    width:100%;
    margin:5px;
    border:1px solid black;
}

#box1{
    flex-shrink: 1;
}
#box2{
    flex-shrink: 2;
}
#box3{
    flex-shrink: 2;
}